.share{
    width: 100%;
    height: 170px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.38); 
box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.38);
     margin-top: 90px;
   
    

}

.shareWrapper {
    padding: 10px;

}

.shareTop {
    display: flex;
    align-items: center;
}

.shareProfileImg{
    height: 50px;
    width: 50px;
    border-radius:50%;
    object-fit: cover;
    margin-right:10px;

}

.shareInput{
    border: none;
    width: 80%;
}

.shareInput:focus{
    outline: none;
}

.shareHr {
    margin: 20px;
}

.shareBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shareOptions{
    display: flex;
    margin-left: 20px;
}

.shareOption {
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.shareIcon {
    font-style: 18px;
    margin-right: 3px;
}

.shareOptionText {
 font-size: 14px;
 font-weight: 500;

}

.shareImgContainer{
    padding: 0 20px 10px 20px;
    position: relative;
  }

.shareButton{
    border:none;
    padding: 7px;
    border-radius: 5px;
    background: linear-gradient(to right, #d62976, #962fbf, #4f5bd5);
    font-weight:500;
    margin-right:20px;
    cursor: pointer;
    color: white;
    
}

.shareImgContainer{
    padding: 0 20px 10px 20px;
    position: relative;
  }

.shareImg{
    width: 100%;
    object-fit: cover;
  }

  .shareCancelImg{
    position: absolute;
    top: 0;
    right: 20px;
    cursor: pointer;
    opacity: 0.7;

  }