.rightbar {
    flex:2;
    margin-top: 100px;
    
}

.birthdayImg {
    width: 40px;
    height: 40px;
    margin-left :20px; 
    margin-right: 20px;
    padding: auto;
}

.rightbarWrapper {
    padding: 20px 20px 0 0;
}

.birthdayText {
    font-weight: 300;
    font-size: 15px;
    
}

.birthdayContainer {
    display: flex;
    align-items: center;
}

.rightbarAd {
   
    width:100%;
    border-radius: 10px;
    margin: 30px 0;
    margin-left: 10px;
}

.rightbarTitle {
    margin-bottom:20px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.rightbarFriendList{
    padding: 0;
    margin: 0;
    list-style: none;
}


.rightbarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.rightbarProfileImgContainer {
    margin-right: 10px;
    position: relative;
}

.rightbarProfileImg {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   object-fit: cover;
}

.rightbarOnline {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top: -2px;
    right: 0;
    border: 2px solid white;
}
.rightbarDiv {
    margin-left: 10px;
    margin-top: 30px;
}

.rightbarUsername {
    font-weight: 500;
}


.rightbarFollowingName{
    font-size: 20px;
   
   margin-left: 20px;
    color: white;
}
.rightbarFollowingImg {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 10px;
}

.rightbarInfo {
    margin-bottom: 30px;
}

.rightbarInfoKey {
    font-weight: 500;
    margin-right: 15px;
    color: #555;
}

.rightbarFollowings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rightbarFollowing {
    display: flex;
    margin-bottom: 20px;
    cursor: pointer;
}

.friends {
    border-radius: 10px;
    width: 250px;
    height: 60px;
    margin-left: 10px;
   background: linear-gradient(to right, #d62976, #962fbf, #4f5bd5);
}

.rightbarInfoValue {
  font-weight: 300;
}

.rightbarInfoItem {
    margin-bottom: 10px;
}

.rightbarFollowButton{
    margin-top: 30px;
    margin-bottom: 10px;
    border: none;
    background: linear-gradient(to right, #d62976, #962fbf, #4f5bd5);
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 15px;
  }

.rightbarFollowButton:hover {
 border: 1px white solid;

}