.message {
    display: flex;
    flex-direction: column;
}

.messageTop{
    display: flex;
}

.messageImg{
    width: 32px;
    height: 32px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.messageText{
    padding: 10px;
    border-radius: 20px;
    background: linear-gradient(to right,  #d62976, #962fbf, #4f5bd5); 
    color: white;
    max-width: 300px;

}

.messageBottom{
    font-size: 12px;
    margin-top: 10px;
}

.message.own{
    align-items: flex-end;
}

.message.own .messageText{
    background-color: rgb(245, 241, 241);
    color: black;
}
